*.out
*.log
*.lof
*.pdf
*.aux
*.bbl
*.blg
*.dvi
*.fls
*.toc
*.lot
*.acn
*.soc
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fdb_latexmk
*.tex.bak
.DS_Store
*.cut
*.bib.swp
!images/*.pdf
!2018-edition/slides/*.pdf

